<div class="full-section">
  <section class="trending-products-section">
    <h2 class="section-title-left mb-2">Best Sellers</h2>
    <h6 class="section-subtitle">Most popular products near you</h6>
    <div class="horizontal-scroll-container">
      <div class="trending-item" *ngFor="let product of TrendingProducts">
        <div
          class="card product-card h-100"
          (click)="onProductClick(product.id, product.productType)"
        >
          <div class="card-img-wrapper">
            <img
              [src]="product.image"
              class="card-img-top"
              [alt]="product.name"
            />
            <div *ngIf="product.specialBadge" class="special-badge">
              ({{ product.specialBadge }})
            </div>
          </div>

          <div class="card-body d-flex flex-column">
            <div class="product-info-top">
              <h5 class="product-name">{{ product.name }}</h5>
              <p class="product-subtitle" *ngIf="product.subtitle">
                {{ product.subtitle }}
              </p>
              <p class="product-age">{{ product.age }}</p>

              <div class="product-features">
                <span
                  class="feature-tag"
                  *ngFor="let feature of product.features"
                  >{{ feature }}</span
                >
              </div>
            </div>
            <div class="product-weight">
              <img
                src="assets/icon/weight.png"
                alt="Weight"
                class="weight-icon"
              />
              <span>{{ product.weight }}</span>
            </div>

            <div class="mt-auto price-action-container">
              <div class="price-details">
                <span class="current-price">₹{{ product.price }}</span>
                <span
                  class="original-price"
                  *ngIf="getDiscount(product.originalPrice, product.price) > 0"
                  >₹{{ product.originalPrice }}</span
                >
                <span
                  class="discount"
                  *ngIf="getDiscount(product.originalPrice, product.price) > 0"
                >
                  {{ getDiscount(product.originalPrice, product.price) }}% off
                </span>
              </div>

              <div class="action-buttons">
                <button
                  *ngIf="product.quantity === 0"
                  class="btn btn-add"
                  (click)="addToCart(product, $event)"
                >
                  Add +
                </button>
                <div *ngIf="product.quantity > 0" class="quantity-stepper">
                  <button
                    class="stepper-btn"
                    (click)="decreaseQuantity(product, $event)"
                  >
                    &ndash;
                  </button>
                  <span class="quantity-display">{{ product.quantity }}</span>
                  <button
                    class="stepper-btn"
                    (click)="increaseQuantity(product, $event)"
                  >
                    +
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>