<div id="section-login" class="countrymeat-section">
  <section class="login-section">
    <div class="container">

      <!-- Back Button -->
      <div class="back-btn-container mb-30">
        <button class="back-btn" (click)="goBack()">
          <i class="fa fa-arrow-left"></i> Back
        </button>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="tptrack__product mt-40 mb-40">
            <div class="tptrack__content grey-bg p-30">

              <!-- MOBILE INPUT FORM -->
              <div *ngIf="!isOtpSent">
                <div class="tptrack__item d-flex mb-20">
                  <div class="tptrack__item-icon">
                    <i class="fa fa-unlock"></i>
                  </div>
                  <div class="tptrack__item-content">
                    <h4 class="tptrack__item-title">Sign In</h4>
                    <p>Enter your mobile number and login via OTP.</p>
                  </div>
                </div>

                <form [formGroup]="mobileForm" (ngSubmit)="sendOtp()">
                  <div class="tptrack__mobile mb-30">
                    <div class="tpsign__input">
                      <span><i class="fa fa-mobile"></i></span>
                      <input
                        type="text"
                        placeholder="Enter Mobile Number"
                        formControlName="mobile"
                        maxlength="10"
                      />
                    </div>
                  </div>

                  <div class="tptrack__btn mb-10">
                    <button
                      type="submit"
                      class="tptrack__submition tpsign__reg"
                      [disabled]="isLoading || mobileForm.invalid"
                    >
                      <span *ngIf="isLoading">
                        <i class="fa fa-spinner fa-spin"></i> Sending OTP...
                      </span>
                      <span *ngIf="!isLoading">
                        Proceed via OTP 
                      </span>
                    </button>
                  </div>

                  <div *ngIf="message" class="message-box mt-10" [ngClass]="messageType">
                    {{ message }}
                  </div>
                </form>

                <div class="text-center mt-20">
                  <p>
                    New User?
                    <a [routerLink]="['/register']" class="register-link">Register Now</a>
                  </p>
                </div>
              </div>

              <!-- OTP INPUT FORM -->
              <div *ngIf="isOtpSent">
                <div class="tptrack__item d-flex mb-20">
                  <div class="tptrack__item-icon icon-mobile">
                    <i class="fa fa-mobile"></i>
                  </div>
                  <div class="tptrack__item-content">
                    <h4 class="tptrack__item-title">Enter 6-Digit OTP</h4>
                    <p>An OTP has been sent to <strong>{{ mobileForm.value.mobile }}</strong></p>
                  </div>
                </div>

                <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
                  <div class="otp-inputs mb-30">
                    <ng-container *ngFor="let ctrl of otpControls; let i = index">
                      <input
                        type="text"
                        maxlength="1"
                        [formControl]="ctrl"
                        #otpInput
                        (input)="onDigitInput($event, i)"
                      />
                    </ng-container>
                  </div>

                  <div class="tptrack__btn mb-10">
                    <button
                      type="submit"
                      class="tptrack__submition tpsign__reg"
                      [disabled]="isLoading || otpForm.invalid"
                    >
                      <span *ngIf="isLoading">
                        <i class="fa fa-spinner fa-spin"></i> Verifying...
                      </span>
                      <span *ngIf="!isLoading">
                        Login
                      </span>
                    </button>
                  </div>

                  <div *ngIf="message" class="message-box mt-10" [ngClass]="messageType">
                    {{ message }}
                  </div>

                  <div class="text-center mb-20">
                    <span *ngIf="resendDisabled" class="cooldown-text">
                      Resend in ({{ cooldownTime }}s)
                    </span>
                    <a *ngIf="!resendDisabled" href="#" (click)="resendOtp($event)" class="resend-link">
                      Resend OTP
                    </a>
                  </div>

                  <div class="text-center">
                    <a href="#" (click)="goBackToMobileInput()">Change Number</a>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
