<div id="section-home-slider" class="countrymeat-section">
  <div class="hero-slider-container">
    <owl-carousel-o [options]="customOptions" class="hero-carousel">

      <ng-template carouselSlide>
        <div class="hero-slide slide-1">
          <div class="hero-background">
            <img
              src="assets/images/banner/banner-1.jpg"
              alt="Slider Image 1"
              class="hero-bg-image"
              loading="lazy"
            />
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="hero-slide slide-2">
          <div class="hero-background">
            <img
              src="assets/images/banner/banner-2.jpg"
              alt="Slider Image 2"
              class="hero-bg-image"
              loading="lazy"
            />
          </div>
        </div>
      </ng-template>

      <ng-template carouselSlide>
        <div class="hero-slide slide-3">
          <div class="hero-background">
            <img
              src="assets/images/banner/banner-3.jpg"
              alt="Slider Image 3"
              class="hero-bg-image"
              loading="lazy"
            />
          </div>
        </div>
      </ng-template>

    </owl-carousel-o>
    </div>
</div>
