<!-- Hero Section with Slider -->
<section class="hero-section">
  <cm-home-slider></cm-home-slider>
</section>

<!-- Shop by Category -->
<section class="category-section">
  <cm-shop-category></cm-shop-category>
</section>

<!-- Trending Products -->
<section class="trending-section">
  <cm-trending-products></cm-trending-products>
</section>

<!-- Why Us Section -->
<section class="why-us-wrapper">
  <cm-why-us></cm-why-us>
</section>


<!-- Customer Reviews -->
<section class="reviews-section py-5">
  <cm-home-customer-reviews></cm-home-customer-reviews>
</section>
