.section-checkout {
  padding-top: 80px;
  padding-bottom: 80px;
}

.coupon-accordion .h3, .coupon-accordion h3 {
  background-color: #f7f7f7;
  border-top: 3px solid rgba(150, 174, 0, .3);
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 25px;
  padding: 1em 2em 1em 3.5em;
  position: relative;
  width: auto;
}